<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>stable api - new invoice</title>
</head>
<body>
    <h1>Hello Mr/Mrs {{ contact.lastName }}</h1>
    <p>
        You will find attached the invoice for last month's services concerning your horse {{horse.name}}.
    </p>
    <p>Best regards</p>
</body>
</html>